body{
    font-size:x-large;
}
.h{
    text-align:center;
    background-color:rgb(235, 65, 35);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.pd{
    color:rgb(130, 20, 233);
}
.g{
    color:rgb(218, 147, 55);
}